@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<p>The technology we are going to build are capable to emulate human brain through computer or “machine” far more powerful and capable of solving real world problems humans cannot do</p>

<h3>Vision</h3>

<P>
    To empower machine with human cognitive ability
</P>

<h3>Mission</h3>

<p>To enrich metadata in our database for future AI</p>
<p>To create a sentient machine</p>
<p>To study human cognitive ability using brain mapping technique for our future emulation technology</p>
