@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<p>If you have any question or keen to know more, drop us at info@intellij.my</p>

<address>
    Office address:</br></br>

    SDCC (Selangor Digital Creative Centre)</br>
    E-28-1, Jalan Multimedia 7/AG, City Park, i-City</br>
    40000 Shah Alam, Selangor, Malaysia
</address>