@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Soding: Individual Assignment</h1>
    <p class="lead">Stevan Giano Putra</p>
    @Html.ActionLink("Learn More", "About", "Home", null, new { @class="btn btn-primary btn-lg"})
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Task</h2>
        <p>
            Click below to manage tasks.
        </p>
        @Html.ActionLink("Manage Task", "Index", "Task", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Create New Task</h2>
        <p>Click below to create new task.</p>
        @Html.ActionLink("Create Task", "Create", "Task", null, new { @class = "btn btn-default" })
    </div>
</div>